@import 'modern-normalize/modern-normalize.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.intro.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.grid.hidden {
  display: none;
}

.player {
  width: 320px;
  height: 240px;
  background: black;
}

#pdf {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 2;
}
